{% extends "base.html" %}
{% block content %}
	<h2>Last action on chores</h2>
	<table class="table table-striped">
		<tr>
			<th>Chore ID</th>
			<th>Chore</th>
			<th>Last Actioned</th>
			<td></td>
		</tr>
		{% for row in rows %}
			<tr>
				<td>{{ row.chore_id }}</td>
				<td>{{ row.chore }}</td>
				<td>{{ row.last_actioned }}</td>
				<td><a href={{ url_for('new_from_chore',id=row.chore_id) }}><span class="glyphicon glyphicon-expand" aria-hidden="true"></span></a></td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
