{% extends "base.html" %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-ms-12">
			<h2>Welcome to the house chores website</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-ms-12">
			<p>&nbsp;</p>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-xs-6">
			<a class="btn btn-primary" href="overview">Show me all the actions</a>
		</div>
		<div class="col-xs-6 text-center">
			<a class="btn btn-primary" href="chores_lastaction">Show me all the chores</a>
		</div>
	</div>
	<div class="row">
		<div class="col-ms-12">
			<p>&nbsp;</p>
		</div>
	</div>
	<div class="row">
		<div class="col-ms-12 text-center">
			<pre>

    __                                  __                        
   / /_  ____  __  __________     _____/ /_  ____  ________  _____
  / __ \/ __ \/ / / / ___/ _ \   / ___/ __ \/ __ \/ ___/ _ \/ ___/
 / / / / /_/ / /_/ (__  )  __/  / /__/ / / / /_/ / /  /  __(__  ) 
/_/ /_/\____/\__,_/____/\___/   \___/_/ /_/\____/_/   \___/____/  
                                                                    
			</pre>
		</div>
	</div>
</div>
{% endblock %}
