{% extends "base.html" %}
{% block content %}
	<h2>User administration</h2>
	<table class="table table-striped">
		<tr>
			<th>Name</th>
			<th>Role</th>
			<th></th>
		</tr>
		<tr class="info">
			<form action="{{ url_for('new_user')}}" method="POST">
				<td>
					<input type="text" name='name'>
				</td>
				<td>
					<select name="roles">
						{% for role in roles %}
							<option value='{{role.id}}'>{{role.name}}</option>
						{% endfor %}
					</select>
				</td>
				<td>
					<input type="submit" value="add"/>
				</td>
		</form>
		</tr>

		{% for user in users %}
			<tr>
				<td>{{ user.person_name }}</td>
				<td>{{ user.role_name }}</td>
				<td><a href="{{ url_for('delete_user', id=user.person_id) }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>  <a href="#" onclick="edit( {{ user.person_id }}, '{{ user.person_name }}', '{{ user.role_name }}')"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></td>
			</tr>
		{% endfor %}
	</table>

	<!-- editModal -->
	<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="editModalLabel">Edit action</h4>
				</div>
				<div class="modal-body">
				<form class="form-horizontal" id='editModalForm' method="POST" action='{{ url_for('edit_user') }}'>
					<div class="form-group">
						<label for='editModalID' class='col-sm-2 control-label'>Action id</label>
						<div class="col-sm-2">
							<input name='id' type=number class='form-control' id='editModalID' readonly/>
						</div>
					</div>
					<div class="form-group">
						<label for='editModalUser' class='col-sm-2 control-label'>Name</label>
						<div class="col-sm-10">
							<input name="person" type='text' class="form-control" id="editModalName"/>
						</div>
					</div>
					<div class="form-group">
						<label for='editModalRole' class='col-sm-2 control-label'>Role</label>
						<div class="col-sm-10">
							<select name="role" class="form-control" id="editModalRole">
								{% for role in roles %}
									<option value={{role.id}}>{{role.name}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
				</form>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button id="editModalSavebutton" type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>
	<script>
	function edit(id, user, role){
		$('#editModalID').val(id);
		$('#editModalName').val(user);
		$('#editModalRole').val(role);
		$('#editModal').modal('show');
	}

	$('#editModalSavebutton').click(function(){
		$('form#editModalForm')[0].submit();
	});
	</script>

{% endblock %}
